@using System.Linq;
@using Area.Data;
@using System.Data.Entity;
@using Area.Web.Helper;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var startDate = this.Request.QueryString["startdate"];
    var endDate = this.Request.QueryString["enddate"];
    var product = this.Request.QueryString["product"];
    var place = this.Request.QueryString["place"];

    DayOfWeek day = DateTime.Now.DayOfWeek;
    int days = day - DayOfWeek.Monday;
    DateTime start = DateTime.Now.AddDays(-days);
    DateTime end = start.AddDays(6);
    if (!string.IsNullOrEmpty(startDate) && !string.IsNullOrEmpty(endDate))
    {
        start = Convert.ToDateTime(startDate);
        end = Convert.ToDateTime(endDate);
    }

    B2DriveForPostEntities db = new B2DriveForPostEntities();
    var availablePersonelList = db.AvailableUserVisits.Include(p => p.VisitPlace).Where(p=>p.VisitPlace.StartDate > start && p.VisitPlace.StartDate < end && p.VisitPlace.IsApproved == true).ToList();
    var userList = db.Users.Include(p => p.Permissions).Where(p => p.Permissions.FirstOrDefault().Id == 3).ToList();
    var availablePersonel = availablePersonelList.Where(p => p.Status == true).ToList();
    var notAvailablePersonel = availablePersonelList.Where(p => p.Status == false).ToList();
    var uncertainPersonel = userList.Count - availablePersonelList.Count;

    var placeList = db.Places.OrderBy(p=>p.Name).ToList();
    var productList = db.ProductSubCategories.OrderBy(p => p.Name).ToList();

    var productSaleList = db.ProductSales.Include(p => p.VisitPlace).Where(p => p.VisitPlace.StartDate > start && p.VisitPlace.StartDate < end && p.VisitPlace.IsApproved == true).ToList();
    int conversionCount = 0;
    int spentCount = 0;
    if (productSaleList!= null && productSaleList.Count() > 0)
    {
        spentCount = Convert.ToInt32(productSaleList.Where(p => p.SaleType == 1).Sum(p => p.Quantity) * 70);
        conversionCount = Convert.ToInt32(productSaleList.Where(p => p.SaleType == 2).Sum(p => p.Quantity) * 70);
    }

    //if (!String.IsNullOrEmpty(startDate))
    //{
    //    //availablePersonel = from c in availablePersonel
    //    //                    where c.VisitPlace.StartDate < DateTime.Now

    //}
}
<style>
    .rightempty {
        padding-left: 35px;
    }
</style>

<form>
    <div class="span12">
        <div class="info-box">
            <div class="row-fluid">
                <div class="span2 rightempty">
                    <h5>Başlangıç Tarihi</h5>
                    <div class="container">
                        <div style="position: relative;width:0px;">
                            <input type="text" name="startdate" class="form-control" id="datetimepicker1" value="@start" />
                        </div>
                    </div>
                </div>
                <div class="span2 rightempty">
                    <h5>Bitiş Tarihi</h5>
                    <div class="container">
                        <div style="position: relative;width:0px;">
                            <input type="text" name="enddate" class="form-control" id="datetimepicker2" value="@end" />
                        </div>
                    </div>

                </div>
                <div class="span2 rightempty">
                    <h5>Ürün Ailesi</h5>
                    <select name="product">
                        <option value="0">Seçiniz</option>
                        @foreach (var item in productList)
                        {
                            <option value="@item.ID">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="span2 rightempty">
                    <h5>Mekanlar</h5>
                    <select name="place">
                        <option value="0">Seçiniz</option>
                        @foreach (var item in placeList)
                        {
                            <option value="@item.ID">@item.Name</option>
                        }
                    </select>
                </div>

                <div class="span2" style="float:right">
                    <h5>&nbsp;</h5>
                    <button type="submit" class="btn btn-primary">Filtrele</button>
                </div>

            </div>
        </div>
    </div>
</form>
<div class="span12">
    <div class="info-box">
        <div class="row-fluid stats-box">
            <div class="span4">
                <div class="stats-box-title">Müsait Personel Sayısı</div>
                <div class="stats-box-all-info"><i class="icon-user" style="color:#3C3;"></i> @availablePersonel.Count() </div>
            </div>
            <div class="span4">
                <div class="stats-box-title">Müsait Olmayan Personel Sayısı</div>
                <div class="stats-box-all-info"><i class="icon-user" style="color:#F30"></i> @notAvailablePersonel.Count()</div>
            </div>
            <div class="span4">
                <div class="stats-box-title">Müsaitlik Durumu Belli Olmayan Personel Sayısı</div>
                <div class="stats-box-all-info"><i class="icon-user" style="color:#3366cc"></i> @uncertainPersonel</div>
            </div>
        </div>
        <div class="row-fluid stats-box">
            <div class="span6">
                <div class="stats-box-title">Conversion Raporu </div>
                <div class="stats-box-all-info"><i class="icon-money" style="color:#c3b334;"></i> @conversionCount Litre</div>
            </div>
            <div class="span6">
                <div class="stats-box-title">Harcanan Ürün</div>
                <div class="stats-box-all-info"><i class="icon-gift" style="color:#c334a3"></i> @spentCount Litre</div>
            </div>
        </div>
    </div>
</div>

@*<div class="span6">
    <div class="widget">
        <div class="widget-header">
            <i class="icon-star"></i>
            <h3>Şefler Tarafından Oluşturulan Mekanlar ( Yeni Hafta )</h3>
        </div>

        <div class="widget-content">
            <div id="canvas-holder">
                <canvas id="chart-area" />
            </div>
        </div>
    </div>
</div>

<div class="span6">
    <div class="widget">
        <div class="widget-header">
            <i class="icon-star"></i>
            <h3>Geçen Hafta Etkinlik Yapılan Mekan Sayısı</h3>
        </div>

        <div class="widget-content">
            <div id="canvas-holder">
                <canvas id="chart-area-past-visit-count" />
            </div>
        </div>
    </div>
</div>

<div class="span12">
    <div class="widget">
        <div class="widget-header">
            <i class="icon-star"></i>
            <h3>Yeni Hafta İstenilen Ürün Sarf ve Adetleri</h3>
        </div>
        <div class="widget-content ">
            <div class="pointContainer"></div>
        </div>
    </div>
</div>

<div class="span12">
    <div class="widget">
        <div class="widget-header">
            <i class="icon-star"></i>
            <h3>Mekan Stok Raporu</h3>
        </div>
        <div class="widget-content ">
            <canvas id="canvasPlaceStock"></canvas>
        </div>
    </div>
</div>*@

<script>

    $(function () {
        $('#datetimepicker1').datetimepicker({
            locale: 'tr'
        });

        $('#datetimepicker2').datetimepicker({
            locale: 'tr'
        });
    });



    var configchart = {
        type: 'pie',
        data: {
            datasets: [{
                data: [
                    18,
                    39,
                    7,
                ],
                backgroundColor: [
                    window.chartColors.red,
                    window.chartColors.yellow,
                    window.chartColors.blue
                ],
                label: 'Dataset 1'
            }],
            labels: [
                "İzmir",
                "İstanbul",
                "Adana"
            ]
        },
        options: {
            responsive: true
        }
    };

    var configchartpastvisit = {
        type: 'pie',
        data: {
            datasets: [{
                data: [
                    21,
                    39,
                    1,
                    5
                ],
                backgroundColor: [
                    window.chartColors.red,
                    window.chartColors.yellow,
                    window.chartColors.blue,
                    window.chartColors.orange
                ],
                label: 'Dataset 1'
            }],
            labels: [
                "TR Ailesi",
                "YR Ailesi",
                "AR Ailesi",
                "KR Ailesi"
            ]
        },
        options: {
            responsive: true
        }
    };

    function createConfig(pointStyle) {
        return {
            type: 'line',
            data: {
                labels: ["YR", "YRYS", "YRALA", "YRUK", "TR", "TRTS", "TRAS", "TRKA", "N10", "KR", "AR"],
                datasets: [{
                    label: "Adet",
                    backgroundColor: window.chartColors.red,
                    borderColor: window.chartColors.red,
                    data: [3, 2, 1, 1, 2, 2, 1, 1, 0, 0, 0],
                    fill: false,
                    pointRadius: 10,
                    pointHoverRadius: 15,
                    showLine: true
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: false,
                    text: 'Sarf Adetleri '
                },
                legend: {
                    display: false
                },
                elements: {
                    point: {
                        pointStyle: pointStyle
                    }
                }
            }
        };
    }

    var color = Chart.helpers.color;
    var barChartData = {
        labels: ["YR", "YRYS", "YRALA", "YRUK", "TR", "TRTS", "TRAS", "TRKA", "N10", "KR", "AR"],
        datasets: [{
            label: 'Ürünler',
            backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
            borderColor: window.chartColors.blue,
            borderWidth: 1,
            data: [
                320,
                272,
                122,
                21,
                29,
                22,
                10,
                13,
                3,
                56,
                22
            ]
        }]

    };


    window.onload = function () {
        var container = document.querySelector('.pointContainer');
        [
            'circle'
        ].forEach(function (pointStyle) {
            var div = document.createElement('div');
            div.classList.add('chart-container');
            var canvas = document.createElement('canvas');
            div.appendChild(canvas);
            container.appendChild(div);
            var ctx = canvas.getContext('2d');
            var config = createConfig(pointStyle);
            new Chart(ctx, config);

            //NOTE:Chart Pie
            var ctxchart = document.getElementById("chart-area").getContext("2d");
            window.myPie = new Chart(ctxchart, configchart);

            //NOTE:Geçmiş Mekan Sayısı
            var ctxchartpastvisit = document.getElementById("chart-area-past-visit-count").getContext("2d");
            window.myPie = new Chart(ctxchartpastvisit, configchartpastvisit);

            var ctxpastvisit = document.getElementById("canvasPlaceStock").getContext("2d");
            window.myBar = new Chart(ctxpastvisit, {
                type: 'bar',
                data: barChartData,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: false,
                        text: ''
                    }
                }
            });

        });


    };


</script>
